<h1>Lottery Numbers!</h1>

<h2>Your lotto numbers are:</h2>
<h4><%= @numbers[0] %></h4>
<h4><%= @numbers[1] %></h4>
<h4><%= @numbers[2] %></h4>
<h4><%= @numbers[3] %></h4>
<h4><%= @numbers[4] %></h4>
<h4><%= @numbers[5] %></h4>